[2016-02-16 23:19] tushar-rishav opened #1 "Create basic prototype for coala-html"

[2016-02-16 23:21] #1 closed

[2016-02-17 08:38] sils1297 opened #2 "Don't trim the line"
in index.html, we need the spacing to be displayed correctly

[2016-02-17 08:38] sils1297 opened #3 "README: Add link to demo instance"
Add http://coala-analyzer.github.io/coala-html/ for demo

[2016-02-17 08:39] sils1297 opened #4 "Add CI"
We probably want a little circleci script that at least builds the website? Ideally some tests should be run.

@tushar-rishav any experience with that?

[2016-02-17 08:47] AbdealiJK opened #5 "Use bower"
Don't keep static files - rather use bower to manage static dependencies for you

[2016-02-17 10:48] tushar-rishav commented on #4
@sils1297 Not yet. But yeah sure. I will learn and implement it. :)

[2016-02-17 10:48] sils1297 commented on #4
maybe @AbdealiJK can give you a few hints

[2016-02-17 10:50] tushar-rishav commented on #5
@AbdealiJK Sure. Makes sense. Will do it. :)

[2016-02-17 10:51] AbdealiJK commented on #4
Sure - you can check out the circleci.yml file in coala for a start
@sils1297 you need to enable circleci

On Wed, Feb 17, 2016 at 4:18 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-18 21:33] #2 closed

[2016-02-18 21:44] #3 closed

[2016-02-18 21:45] sils1297 opened #6 "lots of unused whitespace aroud the results, canyou remove that?"

[2016-02-18 21:53] tushar-rishav commented on #6
@sils1297 Yeah. But it's not a bug in code. Probably, I have used 4 space indent rule for `test.py`. So changing the indent rule for test files would potentially fix it. I wonder what would happen if someone is following 8 space indent rule. I am sure no one would do that. :stuck_out_tongue_winking_eye:

[2016-02-18 22:02] sils1297 commented on #6
this has nothing to do with the actual code, but you have sone padding or margin around the results which is just huge

[2016-02-19 05:11] tushar-rishav commented on #6
@sils1297 Are you talking about the indentation within code blocks or the wide margin between two code results? The latter is fixed by decreasing the margin.

[2016-02-19 10:00] sils1297 commented on #6
the margin

[2016-02-19 10:14] sils1297 opened #7 "suggestions"
from Ankit (he made e.g. gitmate.io)

[2016-02-19 13:51] #6 closed

[2016-02-19 13:51] #7 closed

[2016-02-19 15:50] sils1297 opened #8 "comment from ankit"
try using lato for sans-serif

[2016-02-25 06:26] AbdealiJK opened #9 "Add Gemfile"
To test locally github pages has a ruby package.

Add a Gemfile which will install this and run the site for you locally

[2016-02-25 06:29] AbdealiJK opened #10 "Use grunt/gulp"
Grunt and gulp are awesome tools which help making websites lean and also to run them locally easily.
Would be good to use either of them

[2016-02-25 06:59] AbdealiJK commented on #5
Not sure which link you had shown me last time - but it seems github doesnt have bower support. We'd have to push the bower folder to github

[2016-02-25 10:17] #9 closed

[2016-02-26 02:09] #10 closed

[2016-02-26 05:21] AbdealiJK opened #12 "Do not modify <pre> to be inline"
Currently we're using `ng-repeat` to show each line one as a time. We've modified the `<pre>` tag to be inline also. It's better to use JS to merge the whole code block we wish to show and dump it into a pre tag.

Highlighting (and other codes possibly) will be confused as it won't know how to parse codes line by line

For example:
 If the highlighter is asked to match brackets it wont be able to

[2016-02-26 05:23] AbdealiJK opened #13 "Use google-code-prettifier"
google-code-prettifier works well with bootstrap for one.
It also has support for line numbers and so on which is something we want (as we're custom adding line numbers right now in highlight.js).

[2016-02-26 06:17] AbdealiJK opened #14 "Use ng-bind-html"
Apparently ng-bind-html does some sanitization which is useful when writing code from a variable

http://www.w3schools.com/angular/ng_ng-bind-html.asp

[2016-02-26 09:52] sils1297 opened #15 "show log messages"

[2016-02-27 02:07] AbdealiJK commented on #5
Wasn't closed because `master` isnt the default branch. Fixed at https://github.com/coala-analyzer/coala-html/commit/dd1553f3e575e781304ea96965d4ba2f3009397e

[2016-02-27 02:07] #5 closed

[2016-02-27 02:07] AbdealiJK commented on #4
Wasn't closed because `master` isnt the default branch. Fixed at https://github.com/coala-analyzer/coala-html/commit/05eedb671df7634d8ce4eae28093e3145828ee4d

[2016-02-27 02:07] #4 closed

[2016-02-27 02:07] AbdealiJK commented on #12
Wasn't closed because `master` isnt the default branch. Fixed at https://github.com/coala-analyzer/coala-html/commit/b76e19d495cf17766e4208982663ada4608ed35c

[2016-02-27 02:07] #12 closed

[2016-02-27 02:08] AbdealiJK commented on #13
Wasn't closed because `master` isnt the default branch. Fixed at https://github.com/coala-analyzer/coala-html/commit/342a03f1686334f1085cf77d3800981477e04603

[2016-02-27 02:08] #13 closed

[2016-02-27 02:08] AbdealiJK commented on #14
Wasn't closed because `master` isnt the default branch. Fixed at https://github.com/coala-analyzer/coala-html/commit/8ffe7e88315c6787270b048c5e7a033cd2de5d96

[2016-02-27 02:08] #14 closed

[2016-02-27 02:09] AbdealiJK commented on #8
I do not understand the current fonts ... We have a lot of them:

[code]

and
[code]

Why are there so many ?

[2016-02-27 02:09] AbdealiJK commented on #8
CC @tushar-rishav

[2016-02-27 02:11] AbdealiJK opened #16 "Do we want a file browser with inline messages ?"
In my opinion we should have:

 - `Results` tab which shows the Results in the current format.
 - `Files` tab which shows a list of files with some stats on the side (Number of results and which bears ran on them) and each file can open with inline results

I personally like the `Files` tab more - because I find it more user friendly.

[2016-02-27 02:13] AbdealiJK opened #17 "Demo on gh-pages"
Do we want a demo in gh-pages of this site ?

As far as I understand that's just a simple thing where we put in 2 extra commits:

 - Remove `bower_components` from gitignore
 - Add bower_components folder and push

And we can keep rebase-ing master on this when we wish to upgrade it. The gitignore will be updated once in a while and will cause conflicts, but that's fine ...

[2016-02-27 02:38] AbdealiJK opened #18 "Set master as main branch"
@sils1297

[2016-02-27 02:38] AbdealiJK commented on #16
There can also be a tab for LogMessages (for https://github.com/coala-analyzer/coala-html/issues/15)

[2016-02-27 02:43] AbdealiJK opened #19 "Search in Results"
I'm not quite sure what this search module is supposed to be doing.

When I type in `g` - 3rd result goes away an 2 remain. But only the first result has a `g` in the `sys.argv` line ...

Where does it search ? Where should it be searching ? Do we want an advanced search ?

 - I think it'd be better to have a series of toggle buttons with all severities (INFO, NORMAL, MAJOR) to show/hide each of t

[2016-02-27 02:44] AbdealiJK opened #20 "Show Diffs"
Would be nice to show diffs. Similar to how gitmate shows it in github right now (Possible with an option to show or disable them)

[2016-02-27 02:46] AbdealiJK opened #21 "Further functionality"
There can be a tab for LogMessages (for https://github.com/coala-analyzer/coala-html/issues/15)
And another tab for "settings" which has the coafile

[2016-02-27 02:46] AbdealiJK commented on #21
@sils1297 do we want something like this or is that too complicated for what you were thinking ?

[2016-02-27 02:47] AbdealiJK commented on #17
If we do this - we can simply make a submodule of this branch on the coala website git repo and show it there

[2016-02-27 08:13] tushar-rishav commented on #8
@AbdealiJK AFAIK sometimes browsers may not support some fonts, in such cases they tend to render the font style which is next in the series. In the worst case the one at the last will be rendered.

[2016-02-27 08:13] sils1297 commented on #8
I think they are prioritised fallbacks
On 27 Feb 2016 03:09, "AbdealiJK" <notifications@github.com> wrote:

[2016-02-27 08:15] sils1297 commented on #21
Settings should be read-only IMO
On 27 Feb 2016 03:46, "AbdealiJK" <notifications@github.com> wrote:

[2016-02-27 09:55] sils1297 commented on #18
done

[2016-02-27 09:55] #18 closed

[2016-02-27 20:54] AbdealiJK opened #23 "Make coala-html into a bower package"
We should make this a bower package and let the `coala-html` binary check if the bower package is installed (somehow)

[2016-02-28 05:49] AbdealiJK opened #24 "Add testing framework"
Until now although travis is enabled we do not use unittests.

We need to decide on which framework to use and to also set it up.

[2016-02-28 05:50] AbdealiJK commented on #24
So, this is something I'm not very familiar with.

Selenium is a popular library which uses a browser and you can click on things and see what happens to the browser screen. Not sure if it works in travis or whether it needs XDisplay (I remember dogtail has issues when doing i for coala-gui)

For simple angular unittests karma and mocha are two names Ive seen commonly. Maybe use them ?

@tushar-ri

[2016-02-28 05:51] AbdealiJK opened #25 "Add unittests for code"
Add unittests for all our code and make sure coverage is 100%

Blocked by https://github.com/coala-analyzer/coala-html/issues/24

[2016-02-28 05:58] AbdealiJK commented on #21
To get the settings we'd need coala-json to give the config file. As we have no clue where it can be. We could assume `.coafile` in the proj dir - but that's not always right because of the `-c` flag.

We could also just check if `.coafile` exists. if not just give a message saying config file not found.

[2016-02-28 12:28] tushar-rishav commented on #24
@AbdealiJK

- I'm familiar with Selenium but ain't sure about it's integration with travis. I think if we want headless testing then PhantomJS might be useful? Travis env provides PhantomJS.

-  Karma or Jasmine seems to be promising.  We can use them.

[2016-02-28 12:34] sils1297 commented on #24
FWIW there's a PhantomJS webdriver for selenium

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-28 13:28 GMT+01:00 Tushar <notifications@github.com>:

[2016-02-28 13:15] #15 closed

[2016-02-28 13:15] #17 closed

[2016-02-28 13:15] tushar-rishav opened #26 "Show file paths in Results"
We should also display file paths along with errors and affected lines in Results tab. Having that will help users to narrow down the search for errors.

[2016-02-28 13:18] AbdealiJK commented on #8
Fixed in https://github.com/coala-analyzer/coala-html/commit/895b297db7733561e2cf391caf206e7548f03f15

[2016-02-28 13:18] #8 closed

[2016-02-28 13:18] AbdealiJK opened #28 "Show all affected source ranges in Results"
Currently we only show the first.

[2016-02-28 17:41] sils1297 opened #29 "make logs searchable"

[2016-02-28 17:46] sils1297 commented on #21
we could give coala-json a way to dump the settings as json too somewhere optionally, would be easy for us and way easier for you, you don't wanna parse the coafile without our parsers...

[2016-02-28 17:54] sils1297 commented on #16
yeah would be neat to turn the files tab into some cool way to view results :)

[2016-02-28 17:55] sils1297 commented on #23
ah then you just have the index.html, a bower config, the json data and thats it, right?

[2016-02-28 17:56] sils1297 commented on #23
though bower doesn't install stuff system wide anyway so we can simply check if the folder is there in the right place or just run bower update automatically, bower will only do updates as needed then

[2016-02-28 17:56] sils1297 opened #30 "make it actually work with coala"
I understand the relpath issue is relevant for that, what else is needed to get this going?

[2016-02-28 18:22] tushar-rishav opened #31 "coala html binary"
_From @AbdealiJK on February 28, 2016 5:57_

So, as I see it the coala html binary needs to do three things:

Install coala-html angular app via bower. Also install the bower dependencies.

- [x]  run coala and dump the results in json format to a particular file if it doesn't exists else update it. This file shall be used by Angular app.

- [x] create `file.json` if it doesn't exists else update

[2016-02-28 18:22] tushar-rishav commented on #31
@AbdealiJK

-  We might want to add an option that allows users to switch between the output from predefined location or run `coala-json` and update the output.

-  Yes we should create a `file.json` the first time we run coala-json.

-  [Webbrowser](https://docs.python.org/3.1/library/webbrowser.html) is what we might need.

[2016-02-28 22:27] Nosferatul commented on #28
I would like to work on this !

[2016-02-28 22:29] Adrianzatreanu commented on #28
glad to hear this, i have assigned you.

[2016-02-29 00:59] AbdealiJK commented on #31
@tushar-rishav I agree with everything you mentioned in the comment.
And Im wondering why this was moved to coala-html repo. I thought the python coala-html binary can reside in `coala` and only the bower package can reside in `coala-html`. `coala` uses the bower package `coala-html` and renders the html thing

[2016-02-29 00:59] AbdealiJK commented on #31
I dind't want to add python setup.py and stuff here

[2016-02-29 01:00] AbdealiJK commented on #30
The binary :P - that's about it

[2016-02-29 04:04] AbdealiJK commented on #28
So the way this would work is that we need an extra `ng-repeat` which will show all the source ranges inside a result.
We need to change the data given in `main.js` (Currently we only give the first item) to the template and then change the template with ng-repeat too.
Finally we also need to modify test_projects/simple to get a demo working (currently all results there only have a single range)

[2016-02-29 04:06] AbdealiJK commented on #25
This is sort of blocked - because we are hardcoding the "simple" project inside the controllers. We cannot test the controllers properly because of this. We need to figure out how the html binary will be injecting the project's path into the angular stuff.
Ideas ?

[2016-02-29 04:15] AbdealiJK commented on #16
So, in the above commits I've added a simple file browser. Adding results to it is not that simple - as currently google-code-prettifier handles the display. We need to hook into it and show comments on the side somehow

[2016-02-29 06:53] AbdealiJK opened #33 "Create a model for Result"
It's better to use ngModel and make a model for results
This will allow us to have helper functions inside the model - like `get_results_of_file()` or general search queries too.

[2016-02-29 06:54] AbdealiJK opened #34 "Make a service to parse coala-json output"
Currently we hardcode the project path in controllers and we have local functions.
Would be much nicer to use a service which parses this json, creates models and gives that out.

It're be reusable in multiple controllers

[2016-03-01 05:38] tushar-rishav commented on #31
@AbdealiJK  Sorry got confused. I thought we should move all coala-html related talks to this repo. Anyway feel free to switch back.  :P

[2016-03-01 06:47] #26 closed

[2016-03-01 06:50] AbdealiJK commented on #29
Closed wrongly, reopening it as it's not fixed

[2016-03-02 20:55] Nosferatul commented on #28
So i have to change index.html and add ng-repeat, and main.js should receive all the data? ive read here https://docs.angularjs.org/api/ng/directive/ngRepeat also, i dont really know how to create that demo..

[2016-03-05 12:35] AbdealiJK opened #35 "Use BootLintBear"
BootLintBear was added recently https://twitter.com/coala_analyzer/status/706094858377764864
We should use it to parse our bootstrap files

[2016-03-06 18:43] tushar-rishav commented on #28
@AbdealiJK Probably we won't need to change anything in views. We might just need to change main.js such that we pass all the source ranges. Something like
[code]
and rest being same. IMO that'd suffice

[2016-03-06 19:02] tushar-rishav opened #36 "Group results based on the file they belong to"
Currently, irrespective of a file the results belong, they're being shown all at once. It'd look like mess when we have results for say 20 different files or even more and each file having 10 source ranges. Imagine, user will have to scroll all the way down to go through all the files' results.
Now we can do two things to avoid this:

1. Display only file names in result tab. Clicking on the file

[2016-03-07 02:31] AbdealiJK commented on #28
@tushar-rishav personally, I like working in views for something like this.
I prefer to just push the whole json dump from coala-json to the view and show it appropriately here.
I find it double work to restructure json and then send it to the view for the layout part. As we're mixing up layout templates and frontend logic.

But these are just my "views" ( pun intended XD ) ... I think you should

[2016-03-07 02:44] AbdealiJK commented on #36
Point 1 seems to be very similar to the Files tab. Except that its an alternative UI. In the files tab we'd eventually want to hide parts of the file that have no results (Like git shows diffs)

Point 2 - pagination makes sense. but as this will be running locally I wonder if it's needed. Needless, the feature looks like a good value add (which can be set to items_in_page to -1 to disable) :) We s

[2016-03-10 05:03] rishabhs95 commented on #19
both the results actually contain `g`, first one has `sys.argv[1]`, while the second one has `print sys.argv` in its diff data.
I think that the current search in working correctly but we can modify the search by defining some custom filters with the upgraded features, like severity?

[2016-03-10 06:23] tushar-rishav commented on #19
@rishabhs95 Well noticed! :smile: Btw currently we *are* considering severity ( and a few more factors too) while filtering search results. Actually severity are numbers [1..3], so they can be searched only via numbers. It's bad from UX perspective though. We'll fix it soon.
Possibly, the ambiguity will be cleared once issues like https://github.com/coala-analyzer/coala-html/issues/20 are solved.

[2016-03-10 16:07] rishabhs95 commented on #19
okay, so I will start working with bug #20 then?

[2016-03-12 11:22] sils1297 opened #38 "coafile: Add commit message checking"

[2016-03-13 16:57] #28 closed

[2016-03-16 06:15] AbdealiJK commented on #31
@tushar-rishav just a note as you asked on gitter once about package-data

https://github.com/django/django-localflavor/blob/master/setup.py#L37
has a nice function which seems to be cool.
Its MIT so you can copy and give appropriate credit (as they've done at the top of the function)

[2016-04-23 19:51] #24 closed

[2016-05-06 12:59] AbdealiJK opened #43 "Do beta release"
We need a beta release for this !

[2016-05-06 13:02] sils1297 commented on #43
@tushar-rishav @AbdealiJK what's needed to release this?

[2016-05-11 09:51] tushar-rishav opened #44 "Move angular files to separate folder"
The current file structure in master should be changed so that angular app can be distributed under python package. This issue would just create a new folder containing old files from master branch.
Later necessary python files will be added in https://github.com/coala-analyzer/coala-html/issues/31 to make a complete python package.

CC @AbdealiJK

[2016-05-12 19:54] #44 closed

[2016-05-13 16:59] tushar-rishav commented on #30
Closing in favor of https://github.com/coala-analyzer/coala-html/issues/43

[2016-05-13 16:59] #30 closed

[2016-05-13 17:02] tushar-rishav commented on #25
@AbdealiJK Shall we close this now?

[2016-05-13 17:02] tushar-rishav commented on #23
Closing in favor of https://github.com/coala-analyzer/coala-html/issues/43

[2016-05-13 17:02] #23 closed

[2016-05-16 13:22] tushar-rishav opened #47 "Add page loader"
Showing a page loader would be nice to have.
Scenario: Async

[2016-05-21 09:29] tushar-rishav opened #48 "Run bower install during pip install"
Presently, bower installs dependencies when user runs `coala-html` first time. We should implement this installation process when user installs `coala-html` via `pip`.

[2016-05-22 12:49] tushar-rishav commented on #48
This issue is absurd. `bower install` need not be run while installing coala-html. Use of bower is only when user runs coala-html first time - when angular app has been copied.
Closing this issue as it's not required anymore

[2016-05-22 13:23] AbdealiJK commented on #48
The reason I thought it makes sense to do `bower install` with `pip install` is because installing should happen in one step. I hate downloading "installers" which then again start downloading and installing more stuff
*Looks at his windows laptop ...*

But that is definitely a user preference. Some people prefer things that install lazily on demand.
Hence I had mentioned you may want to have a vo

[2016-05-22 19:09] sils1297 commented on #48
strongly disagree with this being a user preference, the user installs coala-html and thus wants to use it, we shouldn't defer steps to do them lazily

[2016-05-22 19:14] sils1297 commented on #48
i.e. I agree very much with abdeali that if possible we should do this upon installation

[2016-05-22 19:29] tushar-rishav commented on #48
@AbdealiJK  @sils1297 So what happens now is that the user installs coala-html that contains angular packages including `bower.json`. Now the app requires static files that are being fetched using bower upon `bower install`. It's essential that those bower components are located within the directory that stores angular app. This particular directory is specified by user only when coala-html is run

[2016-05-22 19:36] sils1297 commented on #48
Maybe we can download the stuff once and then copy it whenever it's needed.

This is not important and shouldn't be addressed before we get a main version out of the door.

[2016-05-22 19:38] tushar-rishav commented on #48
Alright :+1:

[2016-05-27 11:56] #31 closed

[2016-05-28 17:13] tushar-rishav opened #49 "Update install instructions in README"

[2016-05-28 17:29] #49 closed

[2016-06-02 12:12] tushar-rishav opened #51 "Add count info to Results, Files and Logs tab."

[2016-06-02 14:07] tushar-rishav opened #53 "Set max line length for js and html to 90"

[2016-06-02 14:29] #53 closed

[2016-06-03 09:40] Uran198 opened #55 "coalahtml/tree.py: Increase readability"
In https://github.com/coala-analyzer/coala-html/blob/master/coalahtml/tree.py#L40
`if not prev_node.child.get(new_node.name, None):` is better to change to
`if new_node.name not in prev_node.child:`. It'll be easier to read and it's more correct, as `None` or `False` can be key in general.

[2016-06-03 09:42] tushar-rishav commented on #55
Shall we mark it as newcomer?

[2016-06-08 10:32] tushar-rishav opened #56 "Consider minifying the angular package"
We could minify the  js, html etc related to angular files before packaging.
**Pros:**
 * Significant reduce in size and hence the pip package.

**Cons**
* Users might have to deminify if they wish to modify the angular code at their side. Otherwise, it won't be readable at all.
As an user, I am inclined towards Pros as the reduction in size would be more than 50%. it would be like saving 20-30 KB

[2016-06-08 11:36] mr-karan commented on #56
As a "hacker", you can always deminify if you want to edit. I think you should minify it definitely, more so if the performance increase is whopping 50%

[2016-06-08 16:05] AbdealiJK commented on #56
I don't see 30kb to be much.
If you really want to save on bandwidth, then you would want to remove bower, and just serve the angular.min.js and bootstrap.min.css - as those will reduce the downloads required by much more than 30kb

BTW: when you calculated 20-30kb, did you compare the final pypi packages ? Or the minified js file vs the non minified one ? Because the tar.gz compression `python se

[2016-06-08 16:49] tushar-rishav commented on #56
@AbdealiJK
A. Yeah. 30kb isn't a lot. But I thought why not save those 30kbs if we could do it. My thought was to minimise the overall size of the angular package. Now I think bower is necessity here? Packaging with angular files would further increase the size - by few kbs. Moreover, we will be getting the updated dependencies via bower. I don't see any other PROs of using bower. Should we remove

[2016-06-08 17:42] AbdealiJK commented on #56
I'd say keep it low priority - after your gsoc deliverables are done

[2016-06-08 18:31] Makman2 commented on #56
but if you access the page a 1000 times, 50kb -> 50mb
but I agree with @AbdealiJK , low priority, first get things to work, then optimize :)

[2016-06-09 15:34] tushar-rishav opened #57 "Add theme"

[2016-06-10 11:04] #51 closed

[2016-06-10 13:26] tushar-rishav opened #59 "fix help message for nolaunch"
`--nolaunch Launch webpage` is ambiguous

[2016-06-10 13:32] sils1297 opened #60 "Ctrl+C doesn't abort cleanly"
How am I supposed to stop the server? Best you catch Ctrl+C and clean up. Otherwise I get "Address already in use" repeatedly which is annoying.

[2016-06-10 13:52] sils1297 commented on #47
sounds like a wontfix to me at this stage FWIW

[2016-06-10 13:53] #59 closed

[2016-06-10 13:59] tushar-rishav commented on #47
Yes. Definitely. ^

[2016-06-10 14:30] tushar-rishav opened #62 "Add warning signs for directories that contains files where results were produced"
At present, only files are being shown with warning icons. It'd be nice to show warning icon to the parent directories of the affected files too.

[2016-06-10 16:20] Uran198 opened #63 "Add and configure CSSLintBear"

[2016-06-10 20:42] tushar-rishav opened #64 "Remember selected theme"
It'd be nice to save the user's choice for theme. Next time when he open the browser, he gets the default theme as the saved one.
I think localstorage could be useful here.

[2016-06-11 11:09] tushar-rishav opened #65 "Highlight lines that produce errors"
It'd be useful to browse files directly and know the lines that produced errors.

[2016-06-11 11:10] sils1297 commented on #65
maybe show reults inline?

[2016-06-11 11:13] tushar-rishav commented on #65
Um you mean showing the `additional_info` from coala ?

[2016-06-11 11:16] tushar-rishav commented on #65
I am thinking of showing the `additional_info` when user hovers over the line number of the highlighted lines. Something that's not blocking the overall browsing. @sils1297

[2016-06-11 11:17] sils1297 commented on #65
you're speaking of the files view, right? If I show a file it would be neat to see the results directly there?

[2016-06-11 11:20] tushar-rishav commented on #65
Yeah. When we open a particular faulty file, we should get info about
* Why the line produced result. - showing `additional_info`
* How it can be fixed - showing `diffs`

Not sure, maybe showing too much info would look cluttered.
@sils1297

[2016-06-11 11:25] sils1297 commented on #65
@tushar-rishav make a mockup first? I don't get what you want the additional info for... don't you want to show the result just as before?

[2016-06-11 11:30] tushar-rishav commented on #65
@sils1297 coala returns `additional_info` - a brief reason why the results were produced. I am thinking of showing that along with the diff for each highlighted snippet to the user.  Results would be anyway be shown in the results tab.  Anyway sure let me create a mockup first. :+1:

[2016-06-11 11:31] sils1297 commented on #65
ok but that has nothing to do with the files view right? Maybe offer a button "show additional info" and "show patch"

[2016-06-11 11:31] sils1297 commented on #65
but first a release!

[2016-06-11 11:32] tushar-rishav commented on #65
Alright. :D

[2016-06-11 21:23] Makman2 opened #66 "Please take me out of the mentioning list for the automatic issue reply :)"

[2016-06-12 04:10] hypothesist commented on #66
Ah , the irony :P

[2016-06-14 04:00] AbdealiJK commented on #43
Is this not done yet ? Why not ?
Atleast make a .devXX release ?

[2016-06-14 04:02] AbdealiJK commented on #65
This seems to have gone in the direction of https://github.com/coala-analyzer/coala-html/issues/16
If so, please close the older one (As this has more comments) and modify the title of this issue @tushar-rishav

[2016-06-14 04:05] AbdealiJK commented on #55
@yashhsethiya Interested in making a PR for this ?

[2016-06-14 04:06] tushar-rishav commented on #43
I am push more tests in few hours. We will release once it's done.
On 14 Jun 2016 09:30, "AbdealiJK" <notifications@github.com> wrote:

[2016-06-15 10:24] yashhsethiya commented on #55
Yeah Sure @AbdealiJK

[2016-06-16 08:48] #29 closed

[2016-06-16 08:48] #57 closed

[2016-06-18 10:41] #65 closed

[2016-06-20 19:55] Uran198 opened #68 "Consider adding ESLintBear"
Current linters don't catch a lot of issues in the code, so it may be beneficial to add ESLintBear or tweak configuration of existing ones to make PRs less painful and improve code quality in general.

[2016-06-21 08:41] tushar-rishav opened #69 "README.md: Update Readme with current progress"
Changes required are:
- [ ] Add badges
 * Travis
 * Coverage
 * Py version

- [ ] Add demo: A [gif](https://cloud.githubusercontent.com/assets/7397433/16225501/8162a2a4-37c4-11e6-96b8-3e37b705c7f3.gif) and updated gh-pages
- [ ] Update contents : Install instructions etc.

[2016-06-21 10:31] #69 closed

[2016-06-21 12:19] tushar-rishav opened #72 "setup.py: Update meta data"
Meta data needs to be updated. Refer https://pypi.python.org/pypi/coala-html

[2016-06-21 12:23] tushar-rishav opened #74 "Add pagination in results main page"

[2016-06-23 11:38] #43 closed

[2016-06-23 11:39] #25 closed

[2016-06-23 11:40] #20 closed

[2016-06-23 11:42] #16 closed

[2016-06-23 11:48] tushar-rishav commented on #60
Continuing the discussion here.
https://hg.python.org/cpython/file/2.7/Lib/SocketServer.py#l413 shows that they have already exposed the socket object. Maybe we can utilise this to suppress the OSError address in use.
`socket.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)` and then calling `shutdown` and `close`? Apparently, this approach doesn't work. Not sure why.
CC @Uran198 @AbdealiJK

[2016-06-23 11:57] AbdealiJK commented on #60
http://man7.org/linux/man-pages/man7/socket.7.html says:
[code]
So, it seems the listening port is already bound ?

Have you tried http://zaiste.net/2015/06/python_s_simplehttpserver_not_closing_the_port/

[2016-06-23 12:16] tushar-rishav commented on #60
@AbdealiJK Oops. They have already done that https://hg.python.org/cpython/file/2.7/Lib/SocketServer.py#l430
That works like charm :tada: Thanks :D

[2016-06-23 13:21] #60 closed

[2016-06-23 13:42] tushar-rishav opened #80 "Catch KeyboardInterrupt once and for all"
Look https://asciinema.org/a/3x8x364ufuanlhghc6p6fby0k
It'd be nice to catch the exceptions that arise and are caught by webbrowser. Not sure how to do this.

[2016-06-29 07:35] Redridge commented on #80
Basically the port remains suspended?
I have used something like this in a previous project, maybe it helps.
Though it is not platform independent :(

[code]

[2016-08-05 21:12] tushar-rishav opened #83 "coala_html.py: Bug in os.walk approach to detect empty directory"
At present we are detecting if a directory is an empty before copying the angular package at [coala_html.py, L38](https://github.com/coala-analyzer/coala-html/blob/master/coalahtml/coala_html.py#L38). This approach is faulty as for an empty directory `len(list(os.walk(<empty_dir>)))` will be 1. ~~Instead, I have better solution.Since we already know the content of the target directory, we can just

[2016-08-06 18:01] tushar-rishav opened #84 "Make the package hackable and updatable"
#### tl;dr
The goal is to allow user to fetch the latest updates from coalahtml main package and also let me hack on the local package. An ideal solution would be that allows both.
* Hackability
* Updates

#### Details
Imagine user has a local copy of coalahtml angular app which is generated the first time user runs `coala-html`. Let's call it `A`.
Now he didn't like certain feature and so he deci

[2016-08-06 18:03] tushar-rishav commented on #84
One approach was to just check if certain files exists. This approach isn't nice because @Uran198 pointed out that checking only index.html is bad for several reasons:
* It's hardcoded. In the future there may be no index.html
* User may break their angular app and want to make it all work again. How will he know that index.html he needs to remove.
* Just by accident, user may have a project with

[2016-08-06 20:58] Uran198 commented on #84
Another approach could be to use git clone to get angular app and separate it into separate repo. This way if user will hack, he can merge it, or use entirely different application for presenting. Seems very flexible, not sure about the ease of implementation, though.

[2016-08-08 18:23] #83 closed

[2016-08-16 12:08] adtac opened #85 "http://coala-analyzer.github.io/ shouldn't return 404"

[2016-08-29 11:34] AbdealiJK commented on #48
I was looking at code and found that `jupyterlab` does it in a fairly nice way.
They have some method where if I install from git, the setup.py auto downloads things from bower/node and builds a single JS file.
This JS file is inside the jupyterlab module, and it gets packages with PyPI. So, when running `pip install upload` and so on, it auto runs bower on the system and only adds the built files

[2016-09-04 08:46] sils1297 commented on #66
so there's a bug in gitmate that doesn't allow me to configure the repo anymore with the UI because of some token expiration and me getting a new token... not sure that can be fixed easily in the prototype.

[2016-09-09 13:03] sils1297 commented on #85
Why?

[2016-09-09 13:04] sils1297 commented on #85
we will move away from github pages in the future anyway

[2016-09-09 13:04] #85 closed

[2016-09-20 10:00] sils1297 commented on #66
auto replies shouldn't happen anymore

[2016-09-20 10:00] #66 closed

[2016-09-20 15:48] Makman2 commented on #66
yey :D

[2016-10-06 18:25] rajat2901 commented on #38
assign me this

[2016-10-06 18:26] guptavaasu commented on #72
assign me this please!

[2016-10-06 18:37] amrandahvur commented on #38
assign me this

[2016-10-06 18:45] amrandahvur commented on #38
Please update the description of the issue along with the list of files to be changed

[2016-11-19 13:28] Adrianzatreanu commented on #38
unassigning due to activity

[2016-11-19 13:29] Adrianzatreanu commented on #72
unassigning due to inactivity

[2016-11-19 14:47] OctavianGuzu commented on #38
Assing me this !

[2016-11-19 14:51] mihai-burduselu commented on #38
Assign me this!

[2016-11-19 14:53] OctavianGuzu commented on #72
Assign me to this!

[2016-11-19 15:32] sils commented on #38
@OctavianGuzu just asigned you to aanother issue. @mihai-burduselu it's yours

[2016-11-19 15:33] sils commented on #72
see other issue, you're already assigned to another issue

[2016-11-19 16:55] mihai-burduselu commented on #38
Hello, I need some details of this bug.

[2016-11-19 17:16] Nosferatul commented on #38
@mihai-burduselu unnassigned, he has a newcomer issue already

[2016-11-19 22:41] Mixih commented on #72
Hello, I'd like to be assigned. Also, can I have some more info? I not quite sure what needs to be updated.

[2016-11-19 23:24] sils commented on #72
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-11-20 17:08] Mixih commented on #38
Please assign me this.

[2016-11-20 17:12] sils commented on #38
aren't you already on a newcomer issue @Mixih ?

[2016-11-20 17:12] Mixih commented on #38
it disappeared. I was previously on update metadata.

[2016-11-20 17:13] sils commented on #38
sure! :)

[2016-11-20 17:14] Mixih commented on #38
Oh sorry, I lost it in my feed :( Please ignore my request

[2016-11-21 00:46] Mixih opened #87 "Update coala depedency to latest stable vesion (coala 0.9)"
coala-html currently depends on coala 0.7 which is out of date. As this is the designated replacement of coala-gui, we should update this to the new imports.

We will have to change the coala_decorator import first as that module is now gone.

[2016-11-21 20:30] Mixih commented on #87
Ca I look into this issue?

[2016-11-21 21:20] Mixih opened #90 "Travis throws warnings during linting step of build"
The coala lightning step in travis has been consistently throwing warnings in the last few builds because we don't install the linter bears. Either hardcode the requirement or use the coala docker for linting.

[2016-11-21 21:32] Mixih opened #91 "Lines too long in file coalahtml/_coalahtml/app/styles/files.css"
There are two lines that were too long in this file. Here is the raw LineLengthBear output:
[code]

[2016-11-21 21:36] Mixih commented on #91
We have to fix this before we can fix #90. Otherwise, Travis will fail #90 because ti would actually enforce linting.

[2016-11-21 22:14] Mixih commented on #91
@tushar-rishav While trying to fix the travis-ci, there a re a few lines in a css file that are too long(See coala/coal-html#91). Can we remove line length checking?

[2016-11-21 23:30] Mixih commented on #91
I just added ignores for now as it isn't worth it to ruin formatting for that

[2016-11-22 08:19] #91 closed

[2016-11-22 08:47] #90 closed

[2016-11-22 14:56] Mixih commented on #38
#93 is the proper pull. #88 has been left for debugging purposes

[2016-11-24 14:59] #87 closed

[2016-11-24 15:09] #47 closed

[2016-11-24 15:12] sils opened #96 "Show results in the right place"
Doing this:

[code]

then running coala-html on itself, I'm getting this:

![screenshot from 2016-11-24 16-11-27](https://cloud.githubusercontent.com/assets/5716520/20603186/b28e0924-b260-11e6-818c-b24f54439c2f.png)

The second result doesn't belong into that line.

[2016-11-24 15:13] sils opened #97 "Show diffs in results view"
We already show them inline when viewing the file, why aren't we using the same code for both the results and the file view?

[2016-11-25 02:44] Mixih commented on #38
We need to rethink this a bit. Travis build against merges, which seems to be adding merge commits, which invalidates gitcommit checks.

[2016-11-25 19:04] underyx opened #100 "Add a screenshot of the demo page to the readme"
difficulty/newcomer

[2016-11-28 23:15] marian-ald commented on #100
I want to assign me this task

[2016-11-28 23:42] aptrishu commented on #100
assigned @marian-ald :+1:

[2016-12-01 17:16] arsalansaad commented on #72
i would like to work on this. I would also like to have some more info.

[2016-12-01 17:24] sils1297 commented on #72
@tushar-rishav what is needed hefe?

[2016-12-01 18:29] arsalansaad commented on #72
@tushar-rishav what is to be updated in the metadata

[2016-12-02 02:02] tushar-rishav commented on #72
Hey folks,

When I created this issue, some of the additional metadata at PyPi were
being added manually. To fix this, I just had to add those categories in
setup.py file.
Seemingly, the issue has been solved now.
@sils We may close this issue.

On 02-Dec-2016 12:00 am, "Arsalan Saad" <notifications@github.com> wrote:

[2016-12-02 09:15] sils commented on #72
ok

[2016-12-02 09:15] #72 closed

[2016-12-04 22:57] #100 closed

[2016-12-05 09:13] SarthakNijhawan commented on #97
can I get assigned to this issue ?

[2016-12-05 12:29] sils commented on #97
@SarthakNijhawan it's yours :)

[2016-12-05 12:30] SarthakNijhawan commented on #97
@sils Thnks

[2016-12-12 18:14] SarthakNijhawan commented on #97
@sils is there sumthin more which I can refer to get into the details of what exactly are we expecting outta it ?

[2016-12-12 18:25] sils commented on #97
The description should tell you what needs to be done here, consider taking
something simpler maybe?

On Dec 12, 2016 7:14 PM, "Sarthak Nijhawan" <notifications@github.com>
wrote:

[2016-12-12 18:33] SarthakNijhawan commented on #97
@sils I got it , actually !! 😛 I'll work on it .

[2016-12-14 04:53] jayvdb commented on #38
I think the design we came up with is that Travis+coala will mostly ignore these commits, and gitmate would do analysis of the individual commit messages.

[2017-02-05 09:01] sims1253 opened #103 "Fails to run"
log:
[code]

[2017-02-05 10:19] sils commented on #103
gets fixed by https://github.com/coala/coala-html/pull/104

[2017-02-05 10:19] #103 closed

[2017-02-05 11:47] sahilarora535 opened #107 "Fix h3 tag in main.html"
The closing tag is incorrect.
`main.html:20:44:<h3>Everything's fine. No errors found.</h2>`

[2017-02-05 13:00] sahilarora535 commented on #74
How should the pagination be? Like, should we be able to select the number of items per page?

[2017-02-05 13:02] hemangsk commented on #74
Since this is an angular web app, we can add  filters too, to filter results based on Bears, Severity etc

[2017-02-05 13:28] sahilarora535 commented on #74
Yes, can be done. But first let's concentrate on pagination itself. How do you suggest pagination be implemented? Do we need to add a field for user to select number of options.

[2017-02-06 09:31] #107 closed

[2017-02-07 20:41] coala-bot opened #112 "Update npm dependencies"
Opened via [gitter](https://gitter.im/coala/coala/?at=589a310821d548df2cdc0512) by @sahilarora535

[2017-02-07 20:43] sahilarora535 commented on #112
The dependencies have never been updated since they have been initialized. High time we upgrade the stack to the latest stable versions.

[2017-02-07 20:54] ashwini0529 opened #113 "gitter.im broken link image in readme"
In https://github.com/coala/coala-html#getting-involved
the gitter logo needs a fix.
<img width="933" alt="screen shot 2017-02-08 at 2 23 29 am" src="https://cloud.githubusercontent.com/assets/8419333/22711024/a1888160-eda5-11e6-8d57-03c6c9a31c3d.png">

[2017-02-07 21:47] Mariatta commented on #113
Looks fine for me :thinking:

![screen shot 2017-02-07 at 1 46 43 pm](https://cloud.githubusercontent.com/assets/5844587/22713087/e5402350-ed3b-11e6-84b8-4d705069e1bf.png)

[2017-02-07 21:52] ashwini0529 commented on #113
How can that happen? 😕

[2017-02-07 22:20] Makman2 commented on #113
maybe you have some proxy?

[2017-02-07 22:23] Mariatta commented on #113
Closing since this doesn't appear to be coala's problem.

[2017-02-07 22:23] #113 closed

[2017-02-07 22:29] ashwini0529 commented on #113
I tried it on some other network as well. Same issue

[2017-02-07 23:42] Makman2 commented on #113
I can see the badge too. If it's not a proxy, I don't know what to try else :/

[2017-02-08 05:39] meetmangukiya commented on #113
Works for me as well

[2017-02-08 05:40] meetmangukiya commented on #113
Use inspect elements and go to network section, you'll probably find what is wrong

[2017-02-08 12:44] ashwini0529 commented on #113
<img width="505" alt="screen shot 2017-02-08 at 6 13 51 pm" src="https://cloud.githubusercontent.com/assets/8419333/22737735/635a8610-ee2a-11e6-96b2-855c92c84823.png">

[2017-02-13 10:50] sahilarora535 commented on #112
The issue should be split into two, one for npm deps and one for bower deps. This one is for npm only

[2017-02-13 11:16] sahilarora535 opened #115 "Upgrade bower dependencies in bower.json"
The dependencies in bower.json are outdated and should be upgraded.

[2017-02-26 12:30] #112 closed

[2017-03-10 04:32] jayvdb commented on #115
Please be more detailed in your issue description, explaining a real problem.

[2017-03-10 04:38] jayvdb opened #117 "Use codecov instead of codecov bash script"
This is a repeat of https://github.com/coala/coala/issues/3718

[2017-03-10 14:33] sahilarora535 commented on #115
@jayvdb `coala-html` uses very old versions of `angular` and other plugins, which are now being outdated. Hence I thought it would be great if the dependencies could be updated to the latest stable versions so that adding dependencies to `angular` becomes easy. Please check [this comment](https://github.com/coala/coala-html/pull/116#discussion_r105405277) and give some suggestions on how I should

[2017-03-19 11:15] sahilarora535 commented on #115
Closing as suggested by @jayvdb  in https://github.com/coala/coala-html/pull/116#discussion_r105411982

[2017-03-19 11:15] #115 closed

[2017-04-21 12:26] morrme commented on #117
I'd like to try this one.

[2017-05-22 18:26] hemangsk opened #120 "UI Mockup of Search and Filtering Functionality"
Heyo everyone! For phase 3 of GSoC, I will be working on UI enhancement of coala-html. That is adding search functionality, and filtering on the basis of several parameters.

What I've been thinking is that the search bar should look like the one for the coala Online module as that will give a feel of consistency throughout.

For result filtering, these parameters can be used,
- Severity
- Bears
-

[2017-05-26 18:18] sils commented on #120
# Filter by Files

I don't think this should be a dropdown, rather a textbox which live filters. TBH I think this can be removed fully in favour of the "omni search bar above"; as for the other filters, I'd go with the chip style that we also have for bear seletion on https://coala.io/#!/tryonline

# Search Bar

- should have same width as results IMO

# Overall design

Can we use the coalaCSS? Al

[2017-05-26 23:30] hemangsk commented on #120
Sounds good, making the new UI with the changes.

totally, sounds like a plan. And if this search bar with coala icon in the button looks good, then we can add this search bar in coalaCSS. Use it couple of places like coala Online module. It can generally serve the purpose wherever a button is required to __run coala__.

on it 🚀

[2017-05-27 20:09] hemangsk commented on #120
### Results View with omni search bar & filters for bears
![screen shot 2017-05-28 at 1 38 06 am](https://cloud.githubusercontent.com/assets/13018570/26524112/5e64e184-4346-11e7-8e70-218767e96dd4.png)

### Log View
- Cards from coalaCSS for logs
![screencapture-0-0-0-0-8000-1495915387396](https://cloud.githubusercontent.com/assets/13018570/26524083/a53774ba-4345-11e7-86c0-db453a01136e.png)

### Fi

[2017-05-29 10:14] hemangsk commented on #120
Home View
- Consistent with coala.io
- Transparent background in navbar
- Search, Tab Navigation and other components powered by coalaCSS

![screen shot 2017-05-29 at 3 32 12 pm](https://cloud.githubusercontent.com/assets/13018570/26546025/9c81f93a-4485-11e7-80d9-ac59f92ca7c8.png)

[2017-07-29 15:02] hemangsk opened #122 "files.css: Provide adequate space to line nos"
Current
![screen shot 2017-07-29 at 8 31 41 pm](https://user-images.githubusercontent.com/13018570/28745773-ff53f648-749c-11e7-927d-b689b3dc9e7f.png)

Expected
![screen shot 2017-07-29 at 8 31 49 pm](https://user-images.githubusercontent.com/13018570/28745774-0039080a-749d-11e7-8430-66f9e457a7d9.png)

[2017-08-03 09:22] hemangsk commented on #120
Completed in https://github.com/coala/coala-html/pull/121

[2017-08-03 09:22] #120 closed

[2017-08-21 15:56] #34 closed

[2017-09-03 11:52] Raman1121 commented on #117
@jayvdb Can you direct me to the file that needs to be changed/modified?

[2017-10-16 21:27] RaiVaibhav commented on #55
@yashhsethiya  are you still working on this

[2017-10-17 12:11] adtac commented on #55
It has been over a year now. Unassigning @yashhsethiya.

[2017-10-21 09:33] yashovardhanagrawal commented on #97
can I work on this issue?

[2017-10-21 09:34] yashovardhanagrawal commented on #97
asking corobo to assign me this issue

[2017-10-24 04:08] blazeu commented on #117
I would like to try this one :)

[2017-10-24 11:50] #117 closed

[2017-10-25 16:13] co-robo opened #126 "Add ISSUE_TEMPALTE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala`for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f0b81c8808bed73d28ab31)

[2017-10-26 21:57] sotanishy commented on #55
Can I take up this issue?

[2017-10-31 09:24] co-robo opened #128 "Fix GETTING INVOLVED link in README.rst"
The current link is pointing to old docs i.e. `http://coala.readthedocs.org/en/latest/Getting_Involved/README.html` change it to `https://coala.io/#/getinvolved`
label: difficulty/newcomer
Opened by @aashutoshrathi at [Gitter](https://gitter.im/coala/coala?at=59f84149b20c6424296c2453)

[2017-10-31 11:43] co-robo opened #129 "Add .editorconfig file"
label: difficulty/newcomer
Opened by @mohitkyadav at [Gitter](https://gitter.im/coala/coala?at=59f861f9976e63937e0bdc9f)

[2017-10-31 17:07] co-robo opened #131 "Add favicon"
Favicon is missing from the live version of coala-html here http://coala.github.io/coala-html/#/
label: difficulty/low
Opened by @Monal5031 at [Gitter](https://gitter.im/coala/coala?at=59f8ade9e44c43700a9e8d9e)

[2017-11-02 03:12] #131 closed

[2017-11-02 11:26] blazeu opened #133 "Rebuild gh-pages branch on each push"
Make [gh-pages](https://github.com/coala/coala-html/tree/gh-pages) branch in this repo be rebuilt automatically from `master` on each push to `master` using Travis CI.

On a fork, the build should not push to upstream `gh-pages`, instead it should do a push to `gh-pages` branch on the fork.

A push to a branch other than `master` on a fork can overwrite the `gh-pages`, but that would still be a bi

[2017-11-07 18:07] yashovardhanagrawal opened #134 "tutorial link in README.rst not working"
The tutorial link in README.md is not working and showing a 404 error.

[2017-11-07 18:09] yashovardhanagrawal opened #135 "Describe Build & Development section better"
Describe the Build & Development section in README.md better as it is not adequate for running on a local system.

[2017-11-09 23:05] #55 closed

[2017-11-10 17:42] anjansrivathsav opened #136 "Getting Involved Information link in the readme is not working"
the link is redirecting to a not existing page.Add the correct link

[2017-11-10 17:43] #136 closed

[2017-11-10 17:48] anjansrivathsav opened #137 "Getting Involved Information link in readme is not working"
The link getting involved information link is redirecting to a page that does not exist

[2017-11-10 18:19] prnvdixit commented on #137
Duplicate of https://github.com/coala/coala-html/issues/128 - Please close this issue. 😄
Thanks for reporting anyway 👍.

[2017-11-10 18:23] anjansrivathsav commented on #137
Ok

On 10 Nov 2017 23:49, "Pranav Dixit" <notifications@github.com> wrote:

Duplicate of #128 <https://github.com/coala/coala-html/issues/128> - Please
close this issue. 😄
Thanks for reporting anyway 👍.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala-html/issues/137#issuecomment-343547869>,
or mute
the threa

[2017-11-10 18:32] prnvdixit commented on #137
BTW if you are looking to get started with project - Head to https://coala.io/chat and just say "Hello World". You would get guided from there 👍....

[2017-11-10 18:34] #137 closed

[2017-11-19 06:43] yashovardhanagrawal opened #139 "The live version of coala-html shows old version of it"
the live version on github pages shows the old version of coala-html

[2017-11-19 10:55] jayvdb commented on #139
Dup of https://github.com/coala/coala-html/issues/133

[2017-11-19 10:55] #139 closed

[2017-11-19 11:17] yashovardhanagrawal opened #141 "GIF in README.md is quite old"
the GIF in README.md is old and should be replaced by the new version of coala-html.

Also, it can replace the report image in README.md

[2017-11-19 14:00] #128 closed

[2017-11-21 21:12] yashovardhanagrawal commented on #97
@sils I think this issue is no longer needed as diffs are already being showed in results view

[2017-11-21 21:13] yashovardhanagrawal commented on #97
refer to https://github.com/coala/coala-html/commit/8e00f65a1016ffec1d92e91b82bf285d7f522997

[2017-11-26 07:38] Lavenderjiang commented on #141
I'm having this error... Any help would be appreciated! http://gph.is/2jmuE6q

[2017-11-26 18:21] Lavenderjiang commented on #141
I fixed the bower issue by changing the ownership of files in .config and .cache. Though I am able to launch the website now, I keep getting the error message "The requested section '/users/lavender/desktop/coala-html/test' is not existent. Thus it cannot be executed."

[2017-12-03 14:19] yukiisbored opened #144 "Generate JSON output on each deployment."
coala has been changing and maturing every day, it would be preferred to generate the JSON output on each deployment rather than making them stale.

[2017-12-03 14:20] yukiisbored commented on #144
https://github.com/coala/coala-html/pull/143 needs to be improved and merged first though.

[2017-12-05 12:33] #133 closed

[2017-12-15 12:24] radonys commented on #129
@satwikkansal What all properties should be there in the ".editorconfig" file?

[2017-12-15 12:38] satwikkansal commented on #129
Available properties: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

You can take hints from https://github.com/coala/coala/blob/master/.editorconfig

Also, some of the properties may overlap with those used in the `.coafile` (https://github.com/coala/coala-bears/blob/master/.coafile)

[2018-02-10 17:51] Ananthavijay commented on #134
I think you are referring to this link http://coala.readthedocs.io/en/latest/Getting_Involved/README.html which is under the About section..So what link should be there?

[2018-02-26 11:23] monsij commented on #134
@Makman2 Is this issue still valid. If it is , please assign it to me and kindly mention the file to be edited.

[2018-02-26 14:33] Makman2 commented on #134
Please read the issue ;)

[2018-02-26 15:10] monsij commented on #134
But the file README.md does not exists.There is a similar file README.md only

[2018-02-26 15:16] Ananthavijay commented on #134
I think the title should be changed from "tutorial link in README.md not working" to "tutorial link in README.rst not working "

[2018-02-26 15:26] Makman2 commented on #134
@monsij I mean it's the readme, regardless of its ending ;)

[2018-04-18 12:47] jayvdb commented on #62
Unassigning due to inactivity

[2018-04-18 12:51] jayvdb commented on #48
Strongly agree that running `bower install` after `pip install` is wrong.  The pip package creation process should include all dependencies, including any bower components available at the time of release.  Those are the versions which it was tested with , and may disappear later (especially as bower is being decommissioned)

[2018-04-18 12:52] jayvdb commented on #48
Unassigning due to inactivity

[2018-04-18 16:05] hemangsk commented on #97
Right, this is done via https://github.com/coala/coala-html/pull/121

[2018-04-18 16:05] #97 closed

[2018-04-18 16:45] #134 closed

[2018-04-18 16:50] jayvdb commented on #141
Unassigned due to inactivity.

[2018-10-30 13:46] fireballpoint1 commented on #141
@yashovardhanagrawal so we want to just repeat the same process for the updated coala ? if yes, can I work on this issue

[2018-10-30 13:53] fireballpoint1 commented on #141
I suggest adding a video link instead of a GIF since it's confusing to track the progress in a GIF and you can't go back if you missed a moment, you need to wait for it to repeat all the way and with such a large GIF it is inconvenient

[2018-10-30 14:26] yashovardhan commented on #141
The advantage of having a GIF file will that it is shown in the README.md directly when someone opens the GitHub repo. Having a video link would not solve this purpose. GIF just improves the overall quality of the README this way.

[2018-10-30 14:31] fireballpoint1 commented on #141
At the moment it appears as just a link though.

[2018-11-10 09:30] thegypsydev opened #148 ".coafile: Update to newer format"
.coafile shows a warning: Implicit 'Default' section inheritance is deprecated

[2018-11-10 09:30] sosooding opened #149 "Old version of .coafile"
This repo is using an old version of .coafile that needs to be updated to explicit setting inheritance.

[2018-11-10 09:43] sosooding commented on #149
Duplicate of https://github.com/coala/coala-html/issues/148 .

[2018-11-10 09:43] #149 closed, assigned to nobody

[2018-11-11 10:26] #148 closed, assigned to nobody

[2018-12-17 19:18] utkarsh2102 opened #151 "Update README.md"
The following is quite old.
![README](https://user-images.githubusercontent.com/31288318/50109574-420f6f80-025e-11e9-87cb-fdf423a7ae8f.png)

It can be replaced by a new one like in [coala](https://github.com/coala/coala) or [coala-bears](https://github.com/coala/coala-bears).

A good `newcomer` issue.

[2019-01-11 18:16] KVGarg opened #152 "README.rst: Add setup instructions to README.md"
Currently, in README.md there is no information provided on how to run coala-html on a project which makes difficult for a new contributor on how to and what commands should be used to run coala-html.
So, need command instruction's with a small description what each command does to the README.md.
IMO we should add instructions from installing nodejs till the executing instruction of coala-html.
Ma

[2019-01-12 01:39] li-boxuan commented on #152
Duplicate of https://github.com/coala/coala-html/issues/135

[2019-01-12 01:39] #152 closed, assigned to nobody

[2019-01-12 06:27] sambhavkaul commented on #129
Can I work on this issue if its still open and no one is working on this ?

[2019-01-12 14:31] danish-mehmood commented on #151
@utkarsh2102  assign me this issue kindly

[2019-01-13 07:10] li-boxuan commented on #129
Use `moban` to sync from the global template. See https://github.com/coala/coala/issues/5875

[2019-01-14 14:05] Robinspecteur commented on #151
Hello, I would be glad to take this as my first issue

[2019-01-21 12:14] Naveenaidu commented on #129
@li-boxuan This repository hasn't been `mobanised` yet, it missed a `moban.yaml` file. Shouldn't this be made into a entirely new issue of creating this repository compatible with moban and IMHO this issue must be blocked until that is solved.

[2019-01-21 18:32] KVGarg commented on #35
Hi @AbdealiJK This project is using `materialize.min.css` to style the elements. Can you tell me on which files can BootLintBear be applied ? All css files that are defined in project or to some other files?

[2019-01-21 18:51] KVGarg commented on #68
Hi @Uran198 :wave: Is this issue still needs to be solved, because over the period of 2 years many new `Bears` have been developed that parses our code that result in warnings, So wanted to know whether is this issue still need to be solved or not?
I would love to take this issue, if it needs to be solved :innocent: just need some information what needs to be done

[2019-01-23 18:13] sambhavkaul commented on #129
@li-boxuan You can block this until a new issue regarding `moban.yaml` is resolved. I will continue this after that is done.

[2019-01-23 20:12] attila0x2A commented on #68
Sorry, but I am not sure about it. I haven't worked on this for a long time. From [coala-html/.coafile](https://github.com/coala/coala-html/blob/master/.coafile) it seems there were not so many bears added for [js linting](https://github.com/coala/coala-html/blob/master/.coafile#L6). I think all I wanted back there is more linting support for JS files. So if you want to do it, you'll need to tweak

[2019-01-27 11:48] KVGarg commented on #141
Hi @yashovardhanagrawal , can I work upon this issue ?

[2019-01-27 11:53] KVGarg commented on #141
In GIF, we are executing only one instruction in terminal i.e. to tun coala-html on a project. After updating the `Build & development` instructions section in the new PR, I think there is no need of video now. Also, If we add video then we have to add it for atlesast 3 OSX (Windows, Linux and Mac). I think GIF will work here

[2019-01-27 12:28] yashovardhan commented on #141
sure go for it, ask a maintainer on gitter to assign you this issue

[2019-01-28 19:34] KVGarg commented on #141
Should I create GIF based on coala repository or on any of my project? SInce coala repo will not show any errors, so I was thinking to run on my personal project

[2019-01-30 17:48] KVGarg commented on #141
@yashovardhanagrawal Should I create GIF based on coala repository or on any of my project? SInce coala repo will not show any errors, so I was thinking to run on my personal project

[2019-02-02 09:21] KVGarg commented on #144
@yukiisbored shouldn't this issue belong to [coala](github.com/coala) repository. or is this issue related with this repository ?
Also would like to work on this, can you explain how can we achieve this ? Do we have to run `coala --json` on coala core repository and save it somewhere ?

[2019-02-02 14:53] KVGarg commented on #74
@tushar-rishav I would like to add pagination feature. Can you assign this issue to me !!
Afterwards, we can add filters on results too.

[2019-02-02 14:54] KVGarg commented on #62
@jayvdb @tushar-rishav Would like to take up this issue!! Please assign this to me

[2019-02-02 14:57] KVGarg opened #154 "Add "Group By" advanced search on results"
Issue Reference - https://github.com/coala/coala-html/issues/36#issuecomment-193065672 and https://github.com/coala/coala-html/issues/74#issuecomment-277518401

[2019-02-02 14:58] KVGarg commented on #36
@AbdealiJK @hemangsk  after adding pagination, the advanced search filter can be further added

[2019-02-09 06:37] sambhavkaul opened #155 "Add moban.yaml"
This repository has missed `mobanisation` i.e it does not have `moban.yaml` in it, due to which it can't be synced with the global moban repository to add the necessary files/templates.

[2019-02-24 20:34] LakshyAAAgrawal commented on #151
Hey,
I would like to fix this up. I have requested access to gitlab, however, haven't yet received it. Could I please be assigned this issue?

[2019-03-02 15:52] Ifeanyijasper commented on #151
Hi, I wish  to work on this issue as my first issue

[2019-03-07 04:14] piyush072 opened #156 "Image link under Report in README is broken."
![asd](https://user-images.githubusercontent.com/40567323/53931998-91c34180-40bd-11e9-8b44-6d3a0a5a4621.png)

[2019-03-08 20:37] piyush072 commented on #151
Can I be assigned to this issue, please?

[2019-03-11 06:07] Ifeanyijasper commented on #151
Hello, I still wish to work on this issue as my first issue.

[2019-05-23 15:43] kushthedude commented on #151
@jayvdb @Makman2 Can you please assign me this issue ?

[2019-05-23 15:46] kushthedude commented on #126
@jayvdb @li-boxuan , Can you please assign me this issue , If its in stale state ?

[2019-05-31 11:49] sachinam1397 commented on #151
@li-boxuan can you assign me this issue i want to work on this

[2019-10-08 17:30] nitink4472 commented on #156
Hey! This above link is not even opening.How could one solve this issue?

[2019-10-09 08:37] nitink4472 commented on #156
I would like to solve this issue but i need to know what is this screenshot/image about?

[2019-12-14 09:43] viragumathe5 commented on #151
Hey Hi is anybody working on this issue since the last comment was on May 31
Thank You

[2019-12-15 14:39] viragumathe5 commented on #126
Hey @Monal5031 may I please know if you are working on this issue coz this issue is inactive since 23rd May 2019
Thank You

[2019-12-16 08:25] Monal5031 commented on #126
@viragumathe5 Sure please go ahead, you can ask maintainers to assign it to you. Also make sure to get the details of the task first

[2019-12-16 08:28] viragumathe5 commented on #126
Actually I tried on gitter and asked some of the old experienced contributors for the same but they all were like just ask assignee to start work and coz mainteners are busy and corobo is not working so I should I start working directly ??

[2020-08-28 06:07] swapniljha001 commented on #151
This issue needs to be closed, I guess.

[2021-05-21 17:41] eshaanmandal commented on #151
Is this issue resolved? If not may i work on it?

[2021-08-19 12:53] Madanaa commented on #135
@yashovardhan can we do this